* {
  font-family: "CaskaydiaCove Nerd Font";
  font-size: 12pt;
  font-weight: 700;
  margin: 0;
  padding: 0;
  transition-property: background-color;
  transition-duration: 0.5s;
}

/* Reset all styles */
* {
  border: none;
  border-radius: 3px;
  min-height: 0;
  margin: 0;
  padding: 0;
}

/* The whole bar */
#waybar {
  background-color: transparent;
  color: #ffffff;
  transition-property: background-color;
  transition-duration: 0.5s;
  border-radius: 0px;
  margin: 0;
}

/* Each module */
#clock,
#language,
#wireplumber,
#tray,
#workspaces,
#cpu,
#memory,
#custom-gpu,
#custom-storage,
#custom-storage2,
#temperature,
#backlight,
#battery,
#custom-launcher,
#custom-notifications,
#custom-power-menu {
  margin: 0;
  padding: 0 10px;
  color: #ffe6ff;
  background-color: #0a0a1a;
  border: 2px;
  border-style: solid;
  border-color: #cba6f7;
  border-radius: 7px;
}

#custom-launcher {
  padding: 0px 14px 0px 8px;
}

#custom-notifications {
  padding: 0px 12px 0px 8px;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #dd7878;
  border-radius: 100px;
}

#workspaces {
  padding: 0 5px;
}

#workspaces button {
  padding: 0 5px;
  margin: 0;
  color: #6c7086;
  background-color: transparent;
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each workspace name */
  border: none;
  border-radius: 0;
}

#workspaces button.active,
#workspaces button.focused {
  color: #ffe6ff;
  background-color: transparent;
}

/* Fix predefined gtk background effect on hover  */
#workspaces button:hover {
  background: none;
  /* Uncomment to also disable text highlighting */
  /* text-shadow: none; */
}

#workspaces button.urgent,
#temperature.critical {
  color: #dd7878;
}

#battery {
  color: #c0caf5;
}

#battery.charging,
#battery.full,
#battery.plugged {
  color: #26a65b;
}

#battery.critical:not(.charging) {
  color: #f53c3c;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#custom-power-menu {
  border-radius: 9.5px;
  background-color: #1b242b;
  border-radius: 7.5px;
}

label:focus {
  background-color: #000000;
}

@keyframes blink {
  to {
    background-color: rgba(30, 34, 42, 0.5);
    color: #abb2bf;
  }
}
